/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding-top: 50px;
    background-color: #f7f7f7
}

.none {
    display: none;
}

.clearfix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.btn-link:disabled {
    color: #777;
}

.vertical-align-20 {
    vertical-align: 20%;
}

.vertical-align-50 {
    vertical-align: 50%;
}

.circle-5 {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: orange;
    display: inline-block;
}

.circle-10 {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: orange;
    display: inline-block;
}

.home-sys-desc {
    margin-top: -30px;
    float: left;
    width: 100%;
    background-color: #8FB0D1;
    color: blue !important;
    opacity: 0.5;
}

.main {
    min-height: 600px;
}

#sidebar {
    min-height: 1000px;
    border: 1px solid #ddd;
    clear: both;
}

#sidebar, #sidebar .panel {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#sidebar .panel {
    border-top: none;
    border-right: none;
}

#sidebar .panel a {
    text-decoration: none;
}

#sidebar .panel .active-module,
#sidebar .panel .panel-heading:hover {
    background-color: #d9edf7;
    cursor: pointer;
}

#sidebar .panel .panel-heading {
    padding: 0;
}

#sidebar .panel .panel-heading a {
    padding: 10px 15px;
}

#sidebar .panel .panel-body .active-menu,
#sidebar .panel .panel-body ul li:hover {
    background-color: #dff0d8;
    cursor: pointer;
}

#sidebar .panel .panel-body {
    padding: 0;
}

#sidebar .panel .panel-body .list-group {
    margin: 0;
}

#sidebar .panel .panel-body .list-group .list-group-item {
    border-left: none;
    border-right: none;
    padding: 5px 15px;
}

#sidebar .panel .panel-body .list-group .list-group-item:first-child {
    border-top: none;
}

#sidebar .panel .panel-body .list-group .list-group-item:last-child {
    border-bottom: none;
}

.bread {
    border-radius: 0;
    border-bottom: solid 1px #DDD;
    padding: 9px 15px;
}

.grid button {
    margin-right: 5px;
}

.grid .table {
    margin-top: 0;
    margin-bottom: 5px;
}

.grid .pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.grid .column-control {
    padding: 0;
}

.grid .sort {
    cursor: pointer;
}

.uploader-container {
    width: 300px;
}

.webuploader-pick {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.uploader-info-item {
    border-bottom:1px solid pink;
}


