<!DOCTYPE html>
<html lang="en" ng-app="uiDatagridDemoApp" ng-controller="UiDatagridDemoController">

<head>
	<meta charset="UTF-8">
	<title>ui-datagrid.demo</title>
	<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../../bower_components/fontawesome/css/font-awesome.min.css">
	<style type="text/css">
		button{
			margin-right: 5px;
		}
		.margin-right-10{
			margin-right: 10px;
		}
		.margin-top-10{
			margin-top:10px;
		}
		.margin-bottom-10{
			margin-bottom: 10px;
		}
		.table{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.pagination{
			margin-top: 0;
			margin-bottom: 0;
		}
		.column-control{
			padding: 0;
		}
	</style>
</head>
<body>
	<div class="container">
		<ui-datagrid></ui-datagrid>
	</div>
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../bower_components/angular/angular.js"></script>
	<script src="ui-grid.js"></script>
	<script src="ui-grid.demo.js"></script>
	<script type="text/javascript">
		$('.dropdown-toggle').dropdown();
	</script>
</body>
</html>