<div class="grid">
	<!-- top start -->
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<div class="btn-group" ng-repeat="(index, action) in options.topActions">
					<button type="button" ng-if="!action.dropdown || action.dropdown.length === 0" class="btn btn-sm btn-primary" ng-click="action.handler(checkIds,checkItems,allItems,$event)">
						<span class="{{action.auth.icon}}" aria-hidden="true"></span> {{action.name}}
					</button>

					<button type="button" ng-if="!!action.dropdown && action.dropdown.length>0" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" ng-click="action.handler(checkIds,checkItems,allItems,$event)">
						<span class="{{action.auth.icon}}" aria-hidden="true"></span> {{action.name}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" ng-if="!!action.dropdown && action.dropdown.length>0">
						<li ng-repeat="(dropdownIndex, dropdown) in action.dropdown" ng-click="dropdown.handler(checkIds,checkItems,allItems,$event)"><a href="">{{dropdown.name}}</a></li>
					</ul>
				</div>
			</div>

			<div class="pull-right">
				<nav>
					<ul class="pagination pagination-sm">
						<li>
							<a href="" ng-click="getData(page.curIndex-1)" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li ng-repeat="num in page.num" ng-class="{'active':page.curIndex==num}">
							<a href="" ng-click="getData(num)">{{num+1}}</a>
						</li>
						<li>
							<a href="" ng-click="getData(page.curIndex+1)" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- top end -->

	<!-- table start -->
	<div class="row">
		<div class="col-md-12">
			<div>
				<table class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr class="info">
							<th><input type="checkbox" ng-model="checkAllFlag" ng-change="checkAll()"/></th>
							<th><span>序号</span></th>
							<th ng-repeat="column in options.columns track by $index">
								<span ng-bind-html="column.displayName | to_trusted"></span>
								<span class="glyphicon sort" ng-click="changeSortField(column.field)" ng-class="{'glyphicon-sort' : !options.sortBy || options.sortBy != column.field,'glyphicon-sort-by-order' : !!options.sortBy && options.sortBy == column.field && !!orderAsc,'glyphicon-sort-by-order-alt' : !!options.sortBy && options.sortBy == column.field && !orderAsc}"></span>
							</th>
							<th>
								<div class="pull-left">操作</div>
								<div class="pull-right">
									<div class="btn-group">
										<a class="btn column-control" href="javascript:void(0)" data-toggle="dropdown">
											<span><i class="fa fa-th-list"></i></span>
										</a>
										<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
						                    <label>
						                        <input type="checkbox" data-column="0" checked>
						                        姓名
						                    </label>
						                    <br>
						                    <label>
						                        <input type="checkbox" data-column="0" checked>
						                        年龄
						                    </label>
						                </div>
						            </div>
								</div>
							</th>
						</tr>
					</thead>

					<!-- <tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot> -->

					<!-- 无单元格合并 start -->
					<tbody>
						<tr ng-repeat="(rowIndex, row) in rowList | orderBy:options.sortBy : !orderAsc">
							<td><input type="checkbox" ng-model="row.checked" ng-change="checkOne()" /></td>
							<td ng-bind="rowIndex+1"></td>
							<!-- <td ng-if="typeof(row[col['field']])==string" ng-repeat="(colIndex, col) in options.columns" ng-bind-html="row[col['field']] | to_trusted"></td> -->
							<td ng-repeat="(colIndex, col) in options.columns">{{row[col['field']]}}</td>
							<td>
                                <button class="btn btn-default btn-xs" ng-repeat="action in options.rowActions" ng-click="action.handler()" ng-disabled="!!action.disabled">
									<span class="{{action.auth.icon}}" aria-hidden="true"></span> {{action.name}}
								</button>
                            </td>
						</tr>
					</tbody>
					<!-- 无单元格合并 end -->

					<!-- 有单元格合并 start -->
<!-- 					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody> -->
					<!-- 有单元格合并 end -->

					<!-- exception start -->
<!-- 					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody> -->
					<!-- exception end -->
				</table>
			</div>
		</div>
	</div>
	<!-- table end -->

	<!-- bottom start -->
	<div class="row">
		<div class="col-md-12">

			<div class="pull-left">
				<div class="btn-group" ng-repeat="(index, action) in options.botActions">
					<button type="button" ng-if="!action.dropdown || action.dropdown.length === 0" class="btn btn-sm btn-primary" ng-click="action.handler(checkIds,checkItems,allItems,$event)">
						<span class="{{action.auth.icon}}" aria-hidden="true"></span> {{action.name}}
					</button>

					<button type="button" ng-if="!!action.dropdown && action.dropdown.length>0" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" ng-click="action.handler(checkIds,checkItems,allItems,$event)">
						<span class="{{action.auth.icon}}" aria-hidden="true"></span> {{action.name}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" ng-if="!!action.dropdown && action.dropdown.length>0">
						<li ng-repeat="(dropdownIndex, dropdown) in action.dropdown" ng-click="dropdown.handler(checkIds,checkItems,allItems,$event)"><a href="">{{dropdown.name}}</a></li>
					</ul>
				</div>
			</div>

			<div class="pull-right">
				<nav>
					<ul class="pagination pagination-sm">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- bottom end -->
</div>