<div class="form-inline margin-bottom-20">
    <div class="form-group">
        <label for="exampleInputName1">Name</label>
        <input type="text" class="form-control input-sm" id="exampleInputName1" placeholder="Jane Doe">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control input-sm" id="exampleInputEmail2" placeholder="jane.doe@example.com">
    </div>
    <div class="form-group">
        <label for="exampleInputName1">Account Name</label>
        <input type="text" class="form-control input-sm" id="exampleInputName1" placeholder="Account Name">
    </div>
    <div class="form-group">
        <label>是否激活</label>
        <select class="form-control input-sm">
            <option>全部</option>
            <option>已激活</option>
            <option>未激活</option>
        </select>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Search</button>
</div>