<div class="form-inline margin-bottom-20">
    <div class="form-group margin-right-25">
        <select class="form-control input-sm">
            <option>全部</option>
            <option>用户名</option>
            <option>账户名</option>
        </select>
        <input type="text" class="form-control input-sm" placeholder="请输入查询内容">
    </div>
    <div class="form-group margin-right-25">
        <label>是否激活</label>
        <select class="form-control input-sm">
            <option>全部</option>
            <option>已激活</option>
            <option>未激活</option>
        </select>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
            <input type="email" class="form-control input-sm" id="email" placeholder="请输入电子邮箱">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="{{AUTH.QUERY.icon}}" aria-hidden="true"></span> 搜索
                    </button>
                </span>
        </div>
    </div>
</div>