<div class="panel-group" id="sidebar">
    <div class="panel panel-default" ng-repeat="(key, menu) in menus">
        <div class="panel-heading" ui-sref="{{menu.state}}" ui-sref-active="active-module">
            <h4 class="panel-title">
                <a class="collapsed block" role="button" data-toggle="collapse" data-parent="#sidebar" data-target="#{{menu.id}}">
                    <b>
                        <span class="glyphicon glyphicon-cloud"></span>
                        <span>{{menu.name}}</span>
                    </b>
                    <span class="glyphicon pull-right glyphicon-chevron-right" ng-show="menu.menuDTOs.length > 0"></span>
                </a>
            </h4>
        </div>
        <div id="{{menu.id}}" class="panel-collapse collapse" ng-show="menu.menuDTOs.length > 0">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(subKey,subMenu) in menu.menuDTOs" ui-sref="{{subMenu.state}}" ui-sref-active="active-menu">
                        <a class="block">
                            <span class="glyphicon glyphicon-asterisk margin-left-10"></span>
                            <span>{{subMenu.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>